* {
	outline: none;
}

.flasgs {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flasgs img {
	border: 8px solid white;
	border-radius: 50%;
	width: 126px;
	margin: 15px;
}

body {
	background-color: #F0F0F0;
}
.mdl-layout__header {
	position: absolute;
}
.banner-background {
	background: url('../imagens/background.png') center #000/ cover;
	height: 30vh;
	margin-bottom: -5vh;
}

.personal-info {
	border-radius: 2px;
	padding: 20px;
	margin: 0 auto;
}
.personal-info > h4 {
	margin: 0;
}
.personal-info > h6 {
	margin-top: 0;
}
.avatar-container {
	position: relative;
	height: 0;
	margin: 0 auto;
}
.avatar-container > img {
	position: absolute;
	right: 0;
	top: -55px;
	width: 144px;
	border: 5px solid #f5f5f5;
	border-radius: 50%;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.17);
}

.flex-center {
	justify-content: center;
}
.cards > div {
	box-sizing: border-box;
	position: relative;
	padding: 10px 20px 20px;
	margin: 25px 8px;
}
.cards > div > .material-icons{
	position: absolute;
	top: -23px;
	padding: 9px;
	border-radius: 50%;
	color: white;
	background-color: #2e5a79;
}

.projects img{
	height: 80px;
	margin: 5px 15px;
}
.projects h6{
	margin: 0;
}

.mdl-grid > .mdl-cell > h6{
	margin: 0;
}
.mdl-grid > .mdl-cell > span{
	font-size: 0.8em;
	color: #000;
}

.mdl-slider.is-upgraded:disabled + .mdl-slider__background-flex > .mdl-slider__background-lower {
	background-color: #3f51b5;
}
.material-icons {
	cursor: default;
}

@media (max-width: 960px) {
	.avatar-container {
		width: 144px;
	}
	.avatar-container > img {
		top: -144px;
	}
}

@media print {
	.avatar-container {
		width: 144px;
	}
	.avatar-container > img {
		top: -144px;
	}
	.mdl-layout__container {
		position: static !important;
		height: auto !important;
	}
	.banner-background {
		height: 12vh;
	}
}
